#boxx{
    height: 300px;
    width: 300px;
    background-color: grey;
    border: 5px black dashed;
    margin-top: 20px;
    margin-right: 1em;
    margin-bottom: 40px;
    margin-left: 2em;
    padding: 1em;
    margin: 0 auto;
    transition: margin-top 2s;
   
}
#box{
    height: 100px;
    width: 100px;
    background-color: rgb(5, 218, 44);
    border: 2px solid black;
    
    display: inline-block;
    transition-duration: 2s;
    transition-delay: 3s;
   
}
li{
    display: inline;
}
#alpha{
    background-color: rgba(0, 33, 247, 0.3);
    height:200px;
    width: 200px;
    border: 1px solid black;
}
#opacity{
    background-color: rgba(255, 0, 0, 0.3);
    opacity: .5;
    height:200px;
    width: 200px;
    border: 1px solid black;
}
#box:hover{
    background-color: #000;
    border-radius:50%;
}
#boxx:hover{
    margin-top: 400px;
    background-color: blue;
}

