h2{
    text-align: center;
    text-decoration:wavy red underline;
    letter-spacing: normal;
    font-size: 75px;
    font-family: Arial;
}
h4{
    text-align: start;
    text-decoration:double blue overline;
    font-family: avant garde ,didot,sans-serif;
}
p{
    text-align: justify;
    font-weight: 400;
    line-height: 2.5;
    font-size: 20px;
   
}
h3{
    font-weight: 800;
    text-decoration:pink line-through;
    letter-spacing: 10px ;
    font-size: 50px;
    font-family: Impact;
}
a{
    text-decoration: none;
}
h1{
    font-family:league spartan;
    color: #ffa511;
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration: teal double underline;
    text-transform: uppercase;

    
}