h1{
   color: aqua; 
   background-color: black;
   

}
p{
    color: white;
    background-color: black;

}
h2{
    color: orange;
}
button{
    color: red;
    background-color: blue;
}
ul{
    color: rgb(255, 0, 13); 
}
h3{
    color: #ff00ff;
}
h4{
    color: #0000ff;
}
h5{
    color: #00ffff;
}
h6{
    color: #ffff00;
}

