#container{
  width: 80%;
  height: 300px;
  background-color: azure;
  margin: 10px auto;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
 /* flex-direction: column;
  flex-direction: row-reverse;
  flex-direction: column-reverse;
  justify-content: center;
  justify-content: flex-start;
  justify-content: flex-end;*/
  /*justify-content: space-between;*/
 /* justify-content: space-around;*/
  justify-content: space-evenly;
}
h1{
    text-align: center;
}
#container div{
    height: 100px;
    width: 30px;
    color: white;
    text-align: center;
    font-size: 1em;
}