#container{
  width: 80%;
  height: 600px;
  background-color: azure;
  margin: 10px auto;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  
  justify-content: flex-start;
   /*flex-wrap: wrap;*/
   
    align-content: flex-start;
  /*flex-direction: column;
  flex-direction: row-reverse;
  flex-direction: column-reverse;
  justify-content: center;
  justify-content: flex-start;
  justify-content: flex-end;*/
  /*justify-content: space-between;*/
 /* justify-content: space-around;*/
  /*justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: center;
 */
  /*flex-wrap: wrap-reverse;
  align-items: flex-start;
  align-items: flex-end;*/
  /*align-items: baseline;
 
  align-content: flex-end;*/
  /*align-content: center;*/
  
  
}
#blue{
   /* flex-basis: 480px;*/
  /* flex-grow: 1;*/
  flex-shrink: 2;

}
h1{
    text-align: center;
}
#org{
    align-self: flex-end;
   /* flex-grow: 1;
    /* flex-basis: 50px;*/
    flex-shrink: 1;
    flex-basis: 150px;
}
#container div{
    height: 100px; 
    width: 100px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}