.container{
    height: 600px;
    width: 300px;
    background-color: rgb(0, 0, 0);
    display: grid;
}
.item{
    width: 100px;
    height: 100px;
    border: 2px solid rgb(0, 0, 0);
    background-color: greenyellow;

}