.container{
    height: 300px;
    width: 600px;
    background-color: rgb(255, 242, 0);
    display: inline-grid;
    /*grid-template-rows: 60px 60px 60px;
    grid-template-columns: 100px 100px 100px 100px;*/
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    row-gap: 10px;
    column-gap: 20px;
    /*justify-items: end;
    align-items: end;*/
    place-items: center;
   
}
.item{
    width: 100px;
    height: 50px;
    border: 2px solid rgb(0, 0, 0);
    background-color: greenyellow;
    text-align: center;
     grid-gap: 10px;

}
.one{
    /*justify-self:start;
    align-self: start;*/
    place-self: start;
}
/*
.one{
    /*grid-column-start: 1;
    grid-column-end:3 ;*/
   /* grid-column: 1/4;
}
.two{
    grid-row-start: 1;
    grid-row-end:3 ;
}*/