*{
    font-family: 'Courier New';
}
h1{
    color: #1b74e4;
}
#searchbtn{
    background-color: black;
    color: white;
}
.userbtn{
    background-color: aqua;
}
div[id="myid"] p{
    background-color: rgb(0, 4, 255);
    color: rgb(242, 8, 39);
}
input [type="radio"]:checked + label {
    color: rgb(241, 9, 9);
    font-weight: bold;
}
