*{
    font-family: 'Courier New';
}

h1,h3{
    color: #b92b27;
}
#login{
    background-color: white;
}
#signup{
    background-color: #b92b27; 
    color: white;   
}
.upvote{
    background-color: greenyellow;
    color: aliceblue;
}
/* desendent selector*/
.post a{
    color: purple;
    background-color: aqua;
}
nav ul li a{
    color: rgb(172, 5, 243);
}
p+h3{
    text-decoration: underline;
}
.upvote + button{
    color: rgb(0, 13, 255);
    background-color: black;
}
div>input{
    background-color: powderblue;
}

input[type="text"]{
    color: rgb(204, 9, 234);
}
input[type="password"]{
    color: rgb(244, 53, 5);
}
input[type]{
    background-color: ghostwhite;
}
button:hover {
    background-color: rgba(4, 52, 243, 0.958);
    color: aliceblue;
}
h3:hover{
    text-decoration: overline;
}
button:active{
    background-color: purple;
    color: black;
}
p:active{
    color: aquamarine;
}
div:nth-of-type(2n){
    background-color: aqua;
}
h1::first-letter{
    color: #3fb927;
}
p::first-line{
    color: purple;
}
p::selection{
    background-color: rgb(199, 151, 6);
}
