<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
   <h1>This is the home page</h1> 
   <h3> <%=1+3 %></h3>
   <p>Lorem ipsum dolor sit amet consectetur adipisicin
    g elit. Nihil nostrum repellat facilis voluptate ut 
    temporibus eos ullam, commodi, quisquam adipisci 
    doloremque cupiditate ipsavelit ducimus aperiam? Qui 
    officia exercitationem </p>
    <button>click me!</button>
</body>
</html>
